@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.ir {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  background-color: whitesmoke;
  padding: 10px;
  font-family: "Dovemayo_gothic";
}

#qna {
  display: none;
}

#result {
  display: none;
}

.qnaBox {
  margin-top: 150px;
  font-size: 1.3rem;
}

.answerBox {
  margin: 150px 0;
  gap: 30px;
}

.answerList {
  height: 90px;
  line-height: 2;
  text-align: center;
  border: 2px black solid;
}
