.ir {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  background-color: sandybrown;
  padding: 10px;
}

#qna {
  display: none;
}

#result {
  display: none;
}

.qnaBox {
  margin-top: 150px;
  font-size: 1.3rem;
}

.answerBox {
  margin: 150px 0;
  gap: 30px;
}

.answerList {
  height: 90px;
  line-height: 2;
  text-align: center;
  border: 2px black solid;
}
